.main_btn{
  height: 60px; 
  width: 320px;
}
.logo{
  height: 60px
}
.block_img{
  height: 120px
}
.log_button{
  width: 200px
}
body {
  background-image: url(/assets/img_1-b2553c6837e54745a391418e6b42226e2519ca0971bd4c6a871950dc6ded8dce.png);
  background-size: 100%;
}
.color{
   background-color: rgb(255, 236, 143);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */
 body {
  background-image: url(/assets/img_1-b2553c6837e54745a391418e6b42226e2519ca0971bd4c6a871950dc6ded8dce.png);
}
